<section class="container">
  <div class="card col-md-5 shadow-lg p-3 mt-5 mx-auto">
    <h1 class="text-center">
      ToDoApp
    </h1>

    <div class="input-group mb-3 mt-3">
      <input type="text"
      [formControl]="description"
      class="form-control" placeholder="Añada un tarea" aria-label="Añada un tarea"
        aria-describedby="boton-adjunto"
        (keydown.enter)="addTodo()"
              >
      <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="addTodo()" >➕</button>
    </div>

    <div class="progress mb-4" role="progressbar" aria-label="Animated striped example" aria-valuenow="75"
      aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar progress-bar-striped progress-bar-animated"
      [style.width]="avgPrecetTodoDone()+'%'"
       >{{avgPrecetTodoDone()}}%</div>
    </div>

    <ul class="list-group">
      @for(todo of todosList() ; track todo.id){
   <li class="list-group-item">
        <div class="d-flex">
          <div class="flex-grow-1">
            @if(!todo.done){
             <span class="fw-semibold">{{todo.description}}</span>
            } @else {
              <del class="text-secondary"> {{todo.description}}</del>
            }

          </div>
          <button class="btn btn-sm btn-warning mx-2" (click)="toggleDoneTodo(todo)">✔️</button>
          <button class="btn btn-sm btn-danger" (click)="deleteTodo(todo.id)">✖️</button>
          </div>
      </li>

      }

    </ul>
  </div>
</section>
